body {
  padding: 50px;
  font-family: sans-serif;
}

#root {
  position: relative;
  overflow: hidden;
  width: 900px;
  height: 500px;
  margin: 0 auto;
  background-color: #F0F8FF;
}

.header {
  text-align: center;
  height: 100px;
  margin-top: -20px;
}

.header > .title {
  padding-top: 10px;
}

.game {
  height: 300px;
}

.gallows {
  display: inline-block;
  height: 100%;
  width: 33%;
}

.gameInfo {
  display: inline-block;
  height: 100%;
  width: 66%;
  float: right;
}

.infoPane {
  width: 100%;
}

.ip-title {
  display: inline-block;
  width: 33%;
  float: left;
}

.ip-data {
  display: inline-block;
  width: 66%;
}

.word {
  height: 100px;
}
